
  <div>
    There are no challenges for this skill.
  </div>

<% if admin? %>
 <%= link_to content_tag(:span,"+ Add New Challenge",:class => "title"), new_challenge_path, 
    :class => "newButton" %>
<% end %>