<% if @skill.lessons.any? %>

  <%= render @skill.lessons %>

<% else %>
  <div class="primaryLesson empty">
    There are no lessons for this skill.
  </div>
<% end %>

<% if admin? %>
 <%= link_to content_tag(:h4,"Add New Lesson"), new_lesson_path(:skill_id => @skill.id), 
												:remote => true, :class => "primaryLesson empty addNewLesson" %>
<% end %>