
  <div>
    There are no lessons for this skill.
  </div>

<% if admin? %>
 <%= link_to content_tag(:span,"+ Add New Lesson",:class => "title"), new_lesson_path, 
    :class => "newButton" %>
<% end %>