<% if @skill.errors.any? -%>
  var errors = "<p class=\"errors\"><%= @skill.errors.full_messages.join(",") %></p>";

  skillOrganizer.showErrors(errors);
<% else -%>
  skillOrganizer.hideErrors();
  skillOrganizer.addItem($.parseJSON('<%= @skill.to_json.html_safe %>'));

<% end -%>
