<% if @skill.errors.any? -%>
var errors = "<p class=\"errors\"><%= @skill.errors.full_messages.join(",") %></p>";


$("#formContainer").append(errors);

<% else -%>
$(".errors").remove();

$("#formContainer").before("<li><%=j @skill.title  %></li>");
skillOrganizer.hideSkillForm();

<% end -%>
