<% content_for :sidebar do %>

  <%= print_tree_list(@skills,@skill) %>
<% end %>

<h2><%= @title %></h2>

<h3>Lessons</h3>


<div id="lessonContainer" class="clearfix">
		
		<div id="innerLessonContainer"><%= render "lessons" %></div>
		<div class="overlay"></div>
		<div class="slidePage"></div>
</div>

<h3>Challenges</h3>
<h3>Links</h3>
<script>
	$(skillsPage.init());
</script>