<% content_for :sidebar do %>

  <%= render "shared/sidebar_nav" %>
<% end %>


<h3>Getting Started</h3>

<div class="itemContent">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque est eros, 
  tempus a blandit ut, ultrices eu purus. Cras ante ipsum, hendrerit at porttitor eu, 
  imperdiet sit amet enim. Aenean dictum lectus non lorem porta cursus. Morbi justo mi, 
  vestibulum id consectetur sed, laoreet quis mauris. Pellentesque tellus nisl, 
  facilisis a porttitor eget, eleifend a nisi. Morbi vulputate eros at lectus 
  venenatis commodo. Vivamus aliquet rhoncus odio in hendrerit.</p>
</div>

