<div id="coming-soon">
	Coming soon
</div>
<div id="training-courses">
  <div id="creative-text">Courses (coming soon)</div>

  <% course_menu_list(@skills).each do |key,value| -%>
    <div class="training-section right-border">
      <%= image_tag "training/designIcon.png", :alt => "Design Icon", :width => 80 %>
      <h3><%= key %></h3>
      <% value.each do |s| -%>
      <!--
        <%= link_to content_tag(:h4,s.title), named_skill_path(s.slug) %>
      -->
      <h4><%= s.title %></h4>
      <% end -%>
    </div>
  <% end -%>
  </div>
  <div class="clear"></div>  
</div>
