<% if obj.errors.any? %>
    <div class="error_messages">
      <h4>Errors</h4>
      <ul>
        <% for message in obj.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>