<script>$(function(){ skillsPage.init() });</script>


<% if @category %>


  <div id="lesson-nav">
    <h4>Lessons</h4>
    <ul>
      <li>
        <%= link_to content_tag(:span,' ',:class => 'num') + "Getting Started",
                                    named_skill_path(@category.slug),
                                    :class => (@skill == @category) ? "selected" : "" %>
      </li>

      <% if @category.descendants.any? %>

        <% @category.descendants.each_with_index do |skill,index| %>

          <li><%= link_to skill.title,
                  categorized_lesson_index_path(skill.slug),
                  :class => (@skill == skill && params[:controller] == 'lessons') ? "selected" : "" %></li>
        <% end %>

      <% end %>

    </ul>
  </div>

  <div id="challenge-nav">
    <h4>Challenges</h4>
    <ul>

      <% if @category.descendants.any? %>
        <% @category.descendants.each_with_index do |skill,index| %>


          <li><%= link_to skill.title,
            categorized_challenge_index_path(skill.slug),
            :class => (@skill == skill && params[:controller] == 'challenges') ? "selected" : "" %>
          </li>
        <% end %>

      <% end %>

    </ul>
  </div>
<% end %>
