<div id="internship-description">
  <div class="training-section right-border">
    <%= image_tag "training/designIcon.png", :alt => "Design Icon", :width => 60 %>
    <h3>Overview</h3>
    <p>The Center for Teaching and Learning (CTL) offers the CTL Digital Media Institute: <strong>a four-week (80-hour) </strong>multimedia design and development training program for UT students.</p>
    <p>Students will have the opportunity to learn from among a core set of digital media technologies including graphic design, animation, video production, motion graphics, 3D modeling, web development, and mobile development. Students will also collaborate with other students, learn multimedia production best practices, and work with clients on real-world instructional technology projects.</p>
    <p>At the end of the program, students will have the opportunity to apply for open positions at CTL, and at other departments on campus.  Students will also be presented with the opportunity to apply for internships with our internship partners.</p>
  </div>
  <div class="training-section right-border left-border">
    
    <%= image_tag "training/motionIcon.png", :alt => "Motion Icon", :width => 60 %>
    <h3>Requirements</h3>
    <p>The Program will be <strong>Monday, June 4th through Thursday, June 28th.</strong> Students are expected to work <strong>20 hours</strong> each week, between the hours of <strong>1pm-6pm, M-Th</strong>, and must be able to attend each session in its entirety.</p>
    <p>Students must be in good standing with the University, and plan to be enrolled at UT for at least two semesters after the summer program.</p>
    <p>Students that wish to learn web development or mobile development must have their own laptop.</p>
    <p>There may be some small fees to access a portion of the required online trainings.</p>
  </div>
  <div class="training-section left-border">

    <%= image_tag "training/webmobileIcon.png", :alt => "Web/Mobile Icon", :width => 60 %>
    <h3>Apply</h3>
    <p>Send the following to <br> <strong>ctl-dmi@utlists.utexas.edu</strong> by <strong>Thursday, April 19th:</strong></p>
    <ul>
      <li>Resume, including relevant coursework and work experience.</li>
      <li>A cover letter that explains why you would be a good fit for the program, and what you would like to learn.  As an alternative to a written cover letter, you may record a short video of yourself if you prefer.  If you choose to submit a video cover letter, simply post the video online and send us the link.</li>
      <li>Links to your online portfolio, or to any of your multimedia / web work samples.  If you have limited experience and do not yet have an online portfolio that’s ok!  Use the training portion of this site to learn some skills and to create one.  This is a competitive internship, but we’re always looking for students with a high level of aptitude and a strong desire to learn.</li>
    </ul>
    

  </div>
  <div class="clear"></div>  
</div>
