<div id="internship-description">
  <div class="training-section">
    <%= image_tag "training/designIcon.png", :alt => "Design Icon", :width => 60 %>
    <h3>Overview</h3>
    <p>The DMI internship program is a multimedia design and development training program for UT students.</p>

<p>Students will have the opportunity to learn from among a core set of digital media technologies including graphic design, animation, video production, motion graphics, 3D modeling, web development, and mobile development. Students will also collaborate with other students, learn multimedia production best practices, and work with clients on real-world instructional technology projects.</p>

<p>At the end of the program, students will have the opportunity to apply both for open positions at the Center for Teaching and Learning, and for internship opportunities with our internship partners.</p>
<h4>Department-specific Training</h4>
<p>DMI works with departments on campus to help fill specialized needs that they have for student interns.  Often these departments will request student interns with specific subject matter expertise, and DMI recruitment and training will be tailored to the needs of each department.</p>

<p>Department representatives or potential applicants should e-mail <a href="mailto:ctl-dmi@utlists.utexas.edu">ctl-dmi@utlists.utexas.edu</a> with any questions about department-specific training.</p>
  </div>
  <div class="training-section">
    
    <%= image_tag "training/motionIcon.png", :alt => "Motion Icon", :width => 60 %>
    <h3>Requirements</h3>
    <p>The Program will be <strong>Monday, June 4th through Thursday, June 28th</strong>. Students are expected to work from <strong>1pm-6pm, M-Th</strong>, and must be able to attend each session in its entirety. Department-specific training programs will occur on different dates, and will have different time requirements.</p>
    <p>Students must be in good standing with the University, and plan to be enrolled at UT for at least two semesters after the summer program.</p>
    <p>Students that wish to learn web development or mobile development must have their own laptop.</p>
    <p>There may be some small fees to access a portion of the required online trainings.</p>
  </div>
  <div class="training-section">

    <%= image_tag "training/webmobileIcon.png", :alt => "Web/Mobile Icon", :width => 60 %>
    <h3>Apply</h3>
    <p>Send the following to <br /><a href="mailto:ctl-dmi@utlists.utexas.edu">ctl-dmi@utlists.utexas.edu</a> by <strong>Tuesday, April 24th:</strong></p>
    <ul>
      <li>Resume, including relevant coursework and work experience.</li>
      <li>A cover letter that explains why you would be a good fit for the program, and what you would like to learn. As an alternative to a written cover letter, you may record a short video of yourself if you prefer.  If you choose to submit a video cover letter, simply post the video online and send us the link.</li>
      <li>Links to your online portfolio, or to any of your multimedia / web work samples. If you have limited experience and do not yet have an online portfolio, learn some basic design or development skills independently and create what you can (send us an e-mail if you need some advice about accomplishing this). This is a competitive internship, but we’re always looking for students with a high level of aptitude and a strong desire to learn.</li>
      <li>If you are applying for a department-specific internship, indicate this in your e-mail and your cover letter.</li>
    </ul>
    

  </div>
  <div class="clear"></div> 
  <div class="video">
      <iframe src="http://player.vimeo.com/video/40036508?title=0&amp;byline=0&amp;portrait=0" width="640" height="360" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>

</div>

