<% content_for :sidebar do %>

  <%= render "shared/sidebar_nav"%>
<% end %>

<% content_for :topnav do -%>
  <% if @skill -%>
    <h2><%= short_title @skill %></h2>
    <%= render :partial => 'lesson_nav' %>
  <% end -%>
<% end -%>

<script>$(function(){ $(".challenge-header").ajax_accordian() })</script>
