<div id="titleField" class="field">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
</div>

<div id="contentField" class="field">
  <%= f.label :content, "Content" %>
  <%= f.text_area :content %>
</div>