<% content_for :sidebar do %>

  <%= render "shared/sidebar_nav"%>
<% end %>

<% if @skill -%>
  <div id="challenge-accordian">
    <h2><%= short_title @skill %></h2>
    <%= render :partial => 'challenge_nav' %>
  </div>
<% end -%>
</ul>


<script>
  var challengeDestroyCallback = function(){ 
    window.location.reload();
  };

  var challengeCreateCallback = function(obj){
    window.location.reload();
  }

  $(function(){
    $("#challenge-accordian").ajax_accordian();
  });
</script>
