/* Color Scheme */

$textColor1: #666;
$textColor2: #6aa635;
$textColor3: #08455e;
$textColor4: #ca445d;

$bgColor: #e9e9e9;
$bgColor2: #f6f6f6;
$bgColor3: #666;

$textHiliteColor:#fff;
$hiliteColor: #ddd;