@import "_colors.scss";
@import "_util.scss";

body
{
  background:$bgColor;
  font-size:62.5%;
  line-height:1.4;
  font-family:'MuseoSans500',Helvetica,sans-serif;
}

h1,h2,h3
{
    
}

h1
{
    color:$textColor3;
}

h1
{ 
  font-size:5em;
  border-bottom:1px $textColor1 solid;
}

h1 a
{
    text-decoration:none;
    color:inherit;
}

h2
{
  font-size:2.7em;
  color:$textColor3;
  margin-bottom:10px;
  clear:both;
}

h3
{
  color:$textColor2;
  font-size:2.3em;
  border-bottom:1px solid $textColor3;
  margin:10px 0;
  clear:both;
}

h4
{
    color:$textColor1;
    font-size:2em;
}

#sidebar
{
  position:relative;
}

#sidebar h4
{
    font-size:1.7em;
    padding:10px;
    border-bottom:1px solid $textColor1;
}

h5
{
    color:$textColor2;
    font-size:1.5em;
}

#header
{
    margin-bottom:10px;
}

#top_navigation
{
    margin-bottom:40px;
}

#top_navigation li
{
    display:inline;
    float:left;
    margin-left:5px;
}

#top_navigation li a
{
    color:$textColor1;
    font-size:2em;
    font-weight:bold;
    padding:10px;
    text-decoration:none;
    text-transform:uppercase;
    background-color:$bgColor2;
}

.flash
{
    padding:10px;
    font-size:1.3em;
    font-weight:bold;
    margin-bottom:10px;
}

.flash.success
{
   border:2px solid #009408;
   background-color:#61C44F;
   color:#009408;
}

.flash.error
{
   border:2px solid #FF0900;
   background-color:#C42B36;
   color:#FF0900;
}

.error_messages
{
    border:2px solid #FF0000;
    background-color:#FFF;
}

.error_messages h4
{
    background-color:#F00;
    color:#FFF;
    font-size:1.3em;
}

.error_messages ul
{
    list-style:disc;
    margin-left:25px;
    padding:10px;
}

form label
{
  display:block;
  font-size:1.4em;
  font-weight:bold;
  width:200px;
}

input[type="text"]
{
    width:50%;
}

.ajaxError
{
    color:#F00;
    font-weight:bold;
    font-size:1.3em;
    margin:0;
    padding-left:10px;
}

textarea
{
    width:95%;
    height:300px;
}

#user_links
{
  text-align:right;
  font-size:1.2em;
}

form div
{
  margin-bottom:10px;
}

.subnav
{
  margin-bottom:10px;
}

.subnav a
{
  @include round-corners(5px);
  display:block;
  float:left;
  font-size:1.4em;
  padding:10px;
  margin-right:5px;
  background-color:$textColor3;
  color:#fff;
  text-decoration:none;
}

.subnav a.selected
{
  background-color:$textColor3 + #222;
}

#content
{
  overflow:hidden;
}

a.downloadLink
{
  @include round-corners(10px);
  background-color:#666;
  color:#fff;
  padding:10px;
  font-size:1.4em;
}

#lessonContainer
{
/*-webkit-transition: -webkit-transform .5s ease-out;*/
  position:relative;
}

#slideContainer.slideLeft
{
  /*-webkit-transform: translate3d(-620px,0,0);*/
}

.slidePage
{
  -webkit-transition: -webkit-transform .5s ease-out;
  width:320px;
  height:650px;
  position:absolute;
  background-color:$bgColor;
  padding:10px;
  
  -webkit-transform: translate3d(625px,0,0);
  -webkit-box-shadow:-2px 5px 5px rgba(0,0,0,.5);
  z-index:105;
}

.overlay
{
  -webkit-transition: opacity .5s ease-out;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,.6);
  z-index:100;
  opacity:0;
  
  
}

.slidePage.open
{
  -webkit-transform: translate3d(300px,0,0);  
}

.overlay.show
{
  opacity:1;
}

.itemContent
{
  font-size:1.5em;
  clear:both;
}
