// Place all the styles related to the Skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.skill_tree
{
    
}

.toplevel_node
{
    width:306px;
    float:left;
}

.skill_tree h2
{
    color:#f33218;
}

.skill_tree h3
{
    display:block;
    text-align:center;
    font-size:1.6em;
    font-weight:bold;
}

.skill_tree .node_title
{
    text-align:left;
    font-weight:normal;
    font-size:1.4em;
}

.skill_tree li a
{
    color:#666;
    display:block;
    font-size:1.2em;
    font-weight:bold;
    padding:2px;
    text-decoration:none;
}

.skill_tree li a:hover
{
    color:#FFF;
    background-color:#ddd;
}

ul.skill_tree
{
    padding:10px;
}

ul.skill_tree li
{
    margin-bottom:20px;
}

ul.skill_tree li li
{
    margin-bottom:0;
}