// Place all the styles related to the Skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_colors.scss";

$lessonBlockWidth:200px;
$lessonBlockHeight:150px;

.skill_tree
{
    
}

.toplevel_node
{
    width:306px;
    float:left;
}

.skill_tree .top_level
{
    font-size:2.7em;
    font-weight:bold;
    color:$textColor2;
    margin-bottom:0;
}

.skill_tree .second_level
{
    color:$textColor1;
    display:block;
    text-align:center;
    font-size:1.6em;
    font-weight:bold;
}

.skill_tree .node_title
{
    text-align:left;
    font-weight:normal;
    font-size:1.4em;
}

.skill_tree li a
{
    color:$textColor1;
    display:block;
    font-size:1.2em;
    font-weight:bold;
    padding:2px;
    text-decoration:none;
}

.skill_tree li a:hover 
{
    color:$textHiliteColor;
    background-color:$hiliteColor;
}

.skill_tree li a.current
{
    background-color:$hiliteColor;
}

ul.skill_tree
{
    padding:10px 0 10px 10px;
}

ul.skill_tree li
{
    margin-bottom:20px;
}

ul.skill_tree li li
{
    margin-bottom:0;
}

/* Lesson Listing */

.blockLink, .listLink
{
   display:block;
   text-decoration:none; 
}

.blockLink
{
	width:$lessonBlockWidth;
    height:$lessonBlockHeight;
	margin:3px;
	float:left;
	
}

.blockLink .title
{
    display:block;
    font-size:2em;
	color:#FFF;
	background:rgba(0,0,0,.5);
	padding:5px;
}


.listLink
{
    color:$textColor1;
    padding:5px;
}

.listLink.even
{
    background-color:$bgColor + #080808;
}

.listLink.odd
{
    background-color:$bgColor - #080808;
}

.listLink .title
{
    font-size:1.4em;
    
}

.newButton
{
    background-color:$bgColor3;
    font-size:1.4em;
    color:#FFF;
    display:block;
    float:left;
    clear:both;
    width:100%;
    padding:5px;
    margin-top:10px;
    text-decoration:none;
}

.newButton:hover
{
    background-color:$bgColor3 + #111;
}
