form.new_submission .field
{
  float:left;
  background-color:#ddd;
  padding:10px
}

form.new_submission #errors
{
  color:#FF0000;
}

form.new_submission .actions
{
  clear:both
}

form.new_submission .or
{
  font-size:3em;
  font-weight:bold;
  float:left;
  padding:10px
}

form.new_submission input[type="text"]
{
  width:100%;
}

#upload_target
{
  width:0;
  height:0;
}
