.root_node
{
	clear:both;
	margin:10px;
}

.node_title
{
	display:block;
	font-size:1.8em;
	font-weight:bold;
	padding:10px;
	color:#000;
	text-decoration:none;
}

.node_title:hover
{
	background-color:#cdcdcd;
}

.node_title.selected
{
	background-color:#f33218;
	color:#FFF;
}

/*Level 1*/
li
{
	margin-left:10px;
}

li .node_title
{
	font-size:1.5em;
}

/*Level 2*/

li li
{
	margin-left:20px;
}

li li .node_title
{
	font-size:1.3em;
}

/*Level 3*/

li li li
{
	margin-left:20px;
}

li li li .node_title
{
	font-size:1em;
}