@font-face {
    font-family: 'MuseoSans500';
    src: asset-url('fonts/MuseoSans_500-webfont.eot', font);
    src: asset-url('fonts/MuseoSans_500-webfont.eot?#iefix', font) format('embedded-opentype'),
         asset-url('fonts/MuseoSans_500-webfont.woff', font) format('woff'),
         asset-url('fonts/MuseoSans_500-webfont.ttf', font) format('truetype'),
         asset-url('fonts/MuseoSans_500-webfont.svg#MuseoSans500', font) format('svg');
    font-weight: normal;
    font-style: normal;

}