<!DOCTYPE html>
<html>
<head>
  <title>Digital Media Training</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="content_container" style="width:655px; padding:10px">
   <%= yield %> 
  </div>
</body>
</html>
